.nav-bar {
    background: #3f51b5;
    color: #fff;
    height: 40px;
    padding: 10px 20px;
    .mat-icon {
        vertical-align: text-bottom;
        padding-right: 5px;
    }
    .nav-selection {
        height: 100%;
        padding: 0 7px;
        display: inline-block;
        cursor: pointer;
        .nav-selection-text {
            line-height: 40px;
            color: #fff;
        }
    }
}